<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ComPort" value="Com1" />
        <add key="Baud" value="4800" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>