<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ComPort" value="COM2" />
        <add key="Baud" value="4800" />
        <add key="serviceUrl" value="http://localhost:12068/"/>
        <add key="imageLocation" value="c:\\temp1\\savecombo"/>
        <add key="DemoScale" value="N"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>